{{- $profile := "common" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $email := "user@example.com" -}}

{{- if not (env "CI") -}}
{{-   $profile = promptStringOnce . "profile" "Machine profile (common/gaming/work)" -}}
{{-   $email   = onepasswordRead "op://Personal/github.com/login" -}}
{{- end -}}

[data]
  profile   = {{ $profile  | quote }}
  hostname  = {{ $hostname | quote }}
  email     = {{ $email    | quote }}
  is_work   = {{ eq $profile "work" }}
  is_gaming = {{ eq $profile "gaming" }}

[onepassword]
  prompt = false
  mode   = "opapp"

[apply]
  force = true

{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
  command = "pwsh"
  args    = ["-NoLogo", "-NoProfile", "-NonInteractive", "-File"]
{{ end }}
