[user]
    name  = Aleksey Lesnoy
    email = {{ if not (env "CI") }}{{ onepasswordRead "op://Kobo/GPG Signing Key Work/email" }}{{ else }}work@example.com{{ end }}
    signingkey = {{ if not (env "CI") }}{{ onepasswordRead "op://Kobo/GPG Signing Key Work/fingerprint" }}{{ else }}ci-stub-work-gpg-key{{ end }}

[core]
    sshCommand = ssh -i ~/.ssh/id_work

[url "git@github.com-work:"]
    insteadOf = git@github.com:
