{{- $home := .chezmoi.homeDir | replace "/" "\\" -}}
[Configuration]
CompareTool="%LOCALAPPDATA%\Programs\Microsoft VS Code\Code.exe" --diff
InstallDir=C:\Program Files\totalcmd
UseNewDefFont=1
SetEncoding=^^.do.not.remove
firstmnu=2238
FirstTime=0
FirstTimeIconLib=0
test=164
ShowHiddenSystem=1
UseLongNames=1
Small83Names=0
OldStyleTree=0
autotreechange=0
DirBrackets=1
ShowParentDirInRoot=1
SortDirsByName=1
Tips=3
FileTipWindows=0
Win32TipWindows=0
SortUpper=2
AltSearch=2
QuickSearchMatchBeginning=1
QuickSearchExactMatch=0
SeparateTree=0
PanelsVertical=0
FirstTimeUnpack=0
FirstTimeZIP=0
Viewer=none
Editor="%LOCALAPPDATA%\Programs\Microsoft VS Code\Code.exe" "%1"
Viewertype=1
pluginbasedir=C:\Program Files\totalcmd\plugins
CompareCaseSensitive=0
CompareIgnoreRepSpace=1
CompareIgnoreRepeatedLines=1
CompareVertical=0
Aligned extension=1
LastSearchOptions=1056
onlyonce=1
TrayIcon=0
UseRightButton=0
Savepath=1
Savepanels=1
MarkDirectories=1
AlwaysToRoot=0
SingleClickStart=0
RenameSelOnlyName=1
SaveCommands=1
SaveHistory=1
CountSpace=1
CountMarked=1
1hourdif=0
CopyComments=6
CommentPreferredFormat=4
IconClickSelection=1
UseRubberBandSelection=1
DirTabOptions=824
DirTabLimit=32
LogOptions=7198
LogRotateLimit=0
LogKeepCount=30
ExplorerForCopy=0
Win95Delete=0
UseTrash=1
SyncFlags=0
SyncButtons=63
UseEverything=0
QuickSearchAutoFilter=0
DarkMode=2
DirTabRevert=1
DirTabFilters=1
EverythingForSize=0
SamePartitions=C
DirMenuLast=3
GetDirSize=0
AutoUpdateCheck=0
CompareBytesPerLine=8
[Buttonbar]
IconDll_default.bar=TCNewLib1
IconDll_vertical.bar=TCNewLib1
DefaultLib=wcmicon2
Buttonheight=53
FlatIcons=1
SmallIcons=1
SmallIconSize=32
XPstyle=1
Buttonheight144=53
SmallIconSize144=32
DefaultDpi=144
[FileSystemPlugins64]
$checksum$=3014672
[Layout]
ButtonBarVertical=1
DriveBar1=0
DriveBar2=0
DriveBarFlat=1
InterfaceFlat=1
DriveCombo=1
DirectoryTabs=1
XPthemeBg=1
CurDir=1
TabHeader=1
StatusBar=1
CmdLine=1
KeyButtons=1
HistoryHotlistButtons=1
BreadCrumbBar=1
[left]
path=C:\
ViewMode=10001
activepanelcolor=-1
activepanelcolor2=-1
ShowAllDetails=1
SpecialView=0
show=1
sortorder=0
negative Sortorder=0
activepanelcolordark=-1
activepanelcolordark2=-1
[right]
path=C:\
ViewMode=10001
activepanelcolor=-1
activepanelcolor2=-1
ShowAllDetails=1
SpecialView=0
show=1
sortorder=0
negative Sortorder=0
activepanelcolordark=-1
activepanelcolordark2=-1
[2560x1600 (10x20)]
FontSize=12
FontName=Segoe UI
FontSizeWindow=9
FontNameWindow=Segoe UI
FontCharsetWindow=1
FontWeight=400
FontWeightWindow=400
FontNameDialog=Microsoft Sans Serif
CompareDivider=500
Tabstops=276,280,341,218,662,93
[AllResolutions]
FontSize=11
FontName=Segoe UI
FontSizeWindow=9
FontNameWindow=Segoe UI
FontCharsetWindow=1
FontWeight=400
FontWeightWindow=400
FontNameDialog=Microsoft Sans Serif
FontCharset=1
FontCharsetDialog=1
[Shortcuts]
F2=cm_RenameSingleFile
A+UP=cm_EditPath
A+C=cm_CompareFilesByContent
AS+C=cm_IntCompareFilesByContent
[Tabstops]
0=378
1=382
3=443
4=320
6=892
5=93
AdjustWidth=1
[ContentPlugins64]
$checksum$=3014672
[Lister]
ShrinkBitmap=1
Maximized=0
x=0
y=50
dx=1915
dy=1112
textwidth=81
binwidth=75
SearchGoBack=3
BmpStartup=1
Multimedia=1
RTF=1
IView=0
IViewPath=i_view32.exe
HTMLasText=1
LinkBraces=1
Wrap=1
IViewAdditionalTypes=
MediaAdditionalTypes=
ModeByfileType=1
PreviewHandlers=1
ThumbnailProviders=1
Font1=FiraCode Nerd Font Ret,-28,D144,w450
Font2=FiraCode Nerd Font Ret,-28,D144,w450
Font3=FiraCode Nerd Font Ret,-28,b,D144,w700
[2880x1800 (10x20)]
FontSize=12
FontName=Segoe UI
FontCharset=1
FontSizeWindow=9
FontNameWindow=Segoe UI
FontCharsetWindow=1
FontWeight=400
FontWeightWindow=400
FontNameDialog=Microsoft Sans Serif
SyncTabs=92,152,247,270,362,422
[1920x1200 (10x20)]
[1920x1200 (8x16)]
FontSize=11
FontName=Segoe UI
FontSizeWindow=9
FontNameWindow=Segoe UI
FontCharsetWindow=1
FontWeight=400
FontWeightWindow=400
FontNameDialog=Microsoft Sans Serif
Tabstops=239,243,304,181,614,93
FontCharset=1
FontCharsetDialog=1
[ButtonbarCache]
IconDll_default.bar=TCNewLib1
IconDll_vertical.bar=TCNewLib1
[3840x2400 (10x20)]
[2880x1800 (8x16)]
[3840x2400 (8x16)]
[1440x900 (8x16)]
[1440x900 (10x20)]
[ColorsDark]
InverseCursor=0
ThemedCursor=0
InverseSelection=0
BackColor=-1
BackColor2=-1
ForeColor=-1
MarkColor=-1
CursorColor=-1
CursorText=-1
[ListerPlugins]
0=C:\Program Files\totalcmd\plugins\wlx\cudalister.wlx64
[ListerPlugins64]
$checksum$=1999840560
0=1
[DirMenu]
menu1=&Downloads
cmd1=cd {{ $home }}\Downloads\
menu2=&Home
cmd2=cd {{ $home }}\
menu3=Drop&box
cmd3=cd {{ $home }}\Dropbox\
menu4=_P&rojects
cmd4=cd C:\_Projects
menu5=WSL
cmd5=cd \\wsl.localhost\Ubuntu\home\{{ .chezmoi.homeDir | base }}
{{ if .is_work -}}
menu6=Platform Engineering
cmd6=cd {{ $home }}\Box\Platform Engineering
menu7=B&ox
cmd7=cd {{ $home }}\Box
menu8=_&Kobo
cmd8=cd {{ $home }}\Box\_Kobo
{{ end -}}
[3840x2160 (10x20)]
maximized=0
x=659
y=332
dx=2677
dy=1500
Divider=500
DividerQuickView=500
DividerComments=500
Tabstops=378,382,443,320,892,93
monitor(0,0,3840,2160;144)=659,332,2677,1500
[Colors]
InverseCursor=0
InverseSelection=1
BackColor=3549736
ForeColor=15923448
MarkColor=5916484
CursorColor=13007359
CursorText=13007359
BackColor2=3549736
ColorFilter1=*+*.;*up.;*#.;
ColorFilter1Color=16640395
ColorFilter2=*~*.
ColorFilter2Color=16640395
ColorFilter3=*`*.;*^*.;
ColorFilter3Color=16640395
ColorFilter4=*--.;*=.;*.*=;
ColorFilter4Color=16640395
ColorFilter5=*-.;*.*-;
ColorFilter5Color=16640395
ColorFilter6=*=.mp3;*=.ogg;*=.flac;*=.wav;*.d;*.internal;
ColorFilter6Color=8125008
ColorFilter7=*--.mp3;*--.ogg;*--.flac;*--.wav;cmakelists.txt;*.cmake;
ColorFilter7Color=8125008
ColorFilter8=cmake*.txt;cmake.;CMakeFiles.;*.make;*.*cache;
ColorFilter8Color=5592575
ColorFilter9=*-.mp3;*-.ogg;*-.flac;*-.wav;*.pdb;dist*.;network*.;
ColorFilter9Color=8125008
ColorFilter10=*`.mp3;*`.ogg;*`.flac;*`.wav;*.part;css;*.kll;
ColorFilter10Color=8125008
ColorFilter11=*^.mp3;*^.ogg;*^.flac;*^.wav;tpl;
ColorFilter11Color=8125008
ColorFilter12=*~.mp3;*~.ogg;*~.flac;*~.wav;
ColorFilter12Color=8125008
ColorFilter13=*+.mp3;*+.ogg;*+.flac;*+.wav;*.ino;*.vcproj;*.vcxproj;
ColorFilter13Color=8125008
ColorFilter14=*#.mp3;*#.ogg;*#.flac;*#.wav;
ColorFilter14Color=8125008
ColorFilter15=*`*.jpg;images;
ColorFilter15Color=13007359
ColorFilter16=*~*.jpg;
ColorFilter16Color=13007359
ColorFilter17=*+*.jpg;
ColorFilter17Color=13007359
ColorFilter18=*+*.avi;*+*.mpg;*+*.mpeg;*+*.wmv;*+*.mp4;*+*.flv;*+*.mkv;*+*.webm;
ColorFilter18Color=16356285
ColorFilter19=*~*.avi;*~*.mpg;*~*.mpeg;*~*.wmv;*~*.mp4;*~*.flv;*~*.mkv;*~*.webm;
ColorFilter19Color=16356285
ColorFilter20=*`*.avi;*`*.mpg;*`*.mpeg;*`*.wmv;*`*.mp4;*`*.flv;*`*.mkv;*`*.webm;vid*.;
ColorFilter20Color=16356285
ColorFilter21=*.iso;*.nrg;*.img;*.bin;
ColorFilter21Color=5592575
ColorFilter22=*.ttf;*`.pdf;*.dae;
ColorFilter22Color=7125247
ColorFilter23=*.pdf;b;depend*.;proj*.;*.bullet;objects*.;
ColorFilter23Color=7125247
ColorFilter24=*.fx;*.psh;*.vsh;*.hlsl;*.cg;*.glsl;*.shd;*.shader;*.frag;*.vert;
ColorFilter24Color=7125247
ColorFilter25=*.program;media;data;shade*.;effect*.;
ColorFilter25Color=7125247
ColorFilter26=*.in;*.rb;*.sta;boost*.;addons.;
ColorFilter26Color=9239281
ColorFilter27=*.hlp;*.chm;*.chi;*.chq;*.chw;gui*.;run*.;
ColorFilter27Color=9239281
ColorFilter28=*.sql;*.ppt;*.pps;*rock*.;
ColorFilter28Color=9239281
ColorFilter29=*.cnt;*.diz;*.dm2;hud*.;ardu*.;
ColorFilter29Color=9239281
ColorFilter30=*.dsp;*.dsw;*.bpr;*.stw;*.cbp;*.workspace;*.desktop;*.eep;
ColorFilter30Color=5592575
ColorFilter31=*.bak;*.tmp;Test*.;*.vspscc;*.vssscc;*.dmp;*.map;*.sym;tmp;*.bash;
ColorFilter31Color=5592575
ColorFilter32=*.old;*.default;st*.;list*.;font*.;makefile*;*.mk;*st.;
ColorFilter32Color=5592575
ColorFilter33=*.sln;sdk*.;*.dev;*v.lnk;VisualC*.;
ColorFilter33Color=9239281
ColorFilter34=*.url;adr*.;*.rdp;descript.ion;
ColorFilter34Color=9239281
ColorFilter35=*.csproj;*.sldprt;tools;home.;cyg*.;
ColorFilter35Color=9239281
ColorFilter36=*.obj;*.class;*.fpt;obj;*.o;*.elf;*.less;
ColorFilter36Color=9239281
ColorFilter37=*.m3u*;*.cue;*.plc;*.pls;*.diff;
ColorFilter37Color=8125008
ColorFilter38=*.h;include;*.cuh;*.hpp;*Designer.cs;inc;
ColorFilter38Color=9239281
ColorFilter39=*.cpp;*.c;source;src;*.cu;*.c++;*.cc;src*.lnk;*.ino;*goth*.;
ColorFilter39Color=9239281
ColorFilter40=*.asp;*.aspx;*.ascx;*.php;htdocs.;wp-content;
ColorFilter40Color=9239281
ColorFilter41=*.cs;*.java;*.vbs;vc*.;*.py;
ColorFilter41Color=9239281
ColorFilter42=*.lib;lib;Properties;lib*.;*.ld;
ColorFilter42Color=5592575
ColorFilter43=*.rm;*.asf;*.wmv;*.mov;*.mp4;*.rmvb;*.flv;cache.;*.3gp;*.webm;
ColorFilter43Color=16356285
ColorFilter44=*.mkv;*.ts;*.vob;*.a;*.la;
ColorFilter44Color=16356285
ColorFilter45=*.avi;*.mpg;*.mpeg;*.mpe;
ColorFilter45Color=16356285
ColorFilter46=*.user;*.suo;*.idb;*.exp;*.aps;*.sbr;cvs.;*.linkinfo;thumbs.db;.svn;.hg*;.git*;*.filters;*.opensdf;
ColorFilter46Color=5592575
ColorFilter47=*.ncb;*.pch;*.ilk;*.sdf;ipch.;
ColorFilter47Color=9239281
ColorFilter48=*.rc;*.resx;*.inl;*.resources;*.blend?;*blk*.;*black*.;
ColorFilter48Color=7125247
ColorFilter49=*.ico;*.cur;*.ani;*.xcf;
ColorFilter49Color=13007359
ColorFilter50=*.x;*.mesh;*.x_t;model*.;
ColorFilter50Color=7125247
ColorFilter51=*.max;*.3ds;*.scn;*.blend;
ColorFilter51Color=7125247
ColorFilter52=*.dds;texture*.;
ColorFilter52Color=13007359
ColorFilter53=*.bmp;*.pcx;*.tga;*.rgb;*power*.;
ColorFilter53Color=13007359
ColorFilter54=*.gif;*.tif;*.psd;*.svg;*.pdn;anim*.;
ColorFilter54Color=13007359
ColorFilter55=*.png;*.scntoc;preview*.;admin.;
ColorFilter55Color=13007359
ColorFilter56=*.jpg;*.jpeg;*.jpe;sample*.;example*.;scre*.;scr;*demo*.;
ColorFilter56Color=13007359
ColorFilter57=*.flac;*.ape;*.wv;*.sound;
ColorFilter57Color=8125008
ColorFilter58=*.wav;wav;common;sound*.;
ColorFilter58Color=8125008
ColorFilter59=*.mod;*.it;*.xm;*.stm;*.s3m;*script*;_*.;bullet*.;*.lst;*.lss;
ColorFilter59Color=9239281
ColorFilter60=*.mp3;skin*.;theme*.;sky*.;mantis.;
ColorFilter60Color=8125008
ColorFilter61=*.ogg;*.mpc;sdl*.;sfml*.;tee*.;
ColorFilter61Color=8125008
ColorFilter62=*.wma
ColorFilter62Color=8125008
ColorFilter63=*.htm;*.html;*.shtml;*.mht;
ColorFilter63Color=9239281
ColorFilter64=*.js;*.css;
ColorFilter64Color=9239281
ColorFilter65=*.set;*.sav;*.settings;set*.;conf*.;*.conf;layout*.;
ColorFilter65Color=5592575
ColorFilter66=*.xml;*.layout;
ColorFilter66Color=9239281
ColorFilter67=*.xsd;*.xdr;user*.;usr.;
ColorFilter67Color=9239281
ColorFilter68=*.vssettings;*.m;*.cfg;*.out;*.config;*.scheme;*.tlh;*.def;*.idl;
ColorFilter68Color=9239281
ColorFilter69=*.dll;Program*;Microsoft*.;util*.;*.hex;
ColorFilter69Color=5592575
ColorFilter70=*.mdl;*.dwg;*.dwt;*.dxf;*.mnu;nx*.;nv*.;locale.;lang;
ColorFilter70Color=7125247
ColorFilter71=*.exe;*.com;bin*.;plugins;system*.;run*.;*x.lnk;
ColorFilter71Color=5592575
ColorFilter72=*.bat;*.cmd;edit*.;*.sh;
ColorFilter72Color=5592575
ColorFilter73=*.lnk;*.cpl;*.rdp;
ColorFilter73Color=5592575
ColorFilter74=*.dir;*.fnt;*.cf;*.cp;track*.;*.mat;
ColorFilter74Color=9239281
ColorFilter75=*.material;*.clr;*.msi;*.theme;material*.;*.mtl;*.srt;*met*.;
ColorFilter75Color=13007359
ColorFilter76=*.rar;*.7z;pack*.;
ColorFilter76Color=15923448
ColorFilter77=*.zip;*.cab;*.pak;Redist*.;
ColorFilter77Color=15923448
ColorFilter78=*.ace;*.tar;*.gz;*.tgz;*.arj;*.bz2;*.err;
ColorFilter78Color=15923448
ColorFilter79=*.reg;*.ini;*.dat;*.lng;*.bar;*.raw;*.msc;driv*.;*.rgs;
ColorFilter79Color=5592575
ColorFilter80=*.log;*.trk;
ColorFilter80Color=5592575
ColorFilter81=*.sys;*.drv;*.vxd;*.ocx;*.tlb;*.acm;windows*.;
ColorFilter81Color=5592575
ColorFilter82=*.overlay;*manifest;*.dpr;*.asm;release*.;RelWithDebInfo*.;
ColorFilter82Color=5592575
ColorFilter83=*.txt;*.nfo;*.md;*.wiki;*.markdown;*.md;
ColorFilter83Color=9239281
ColorFilter84=*.rtf;*.doc;*.odt;doc*;*.nsi;pages;wiki.;
ColorFilter84Color=9239281
ColorFilter85=*.inf;*.isu;*.uninstall;overlay*.;*-.pdf;
ColorFilter85Color=5592575
ColorFilter86=*.fon;*.xls;*.font;*.ods;
ColorFilter86Color=9239281
ColorFilter87=*.pas;*.pif;
ColorFilter87Color=9239281
ColorFilter88=*.dep;*.res;*.dcu;*.dfm;*.dof;*.dcr;debug*.;
ColorFilter88Color=9239281
ColorFilter89=Vlc*.;
ColorFilter89Color=16356285
ColorFilter90=*.dcp;*.bpl;*.inc;*.~bpl;
ColorFilter90Color=9239281
ColorFilter91=*.dpk;*.bpk;*.fig;
ColorFilter91Color=5592575
ColorFilter92=*.ai;
ColorFilter92Color=7125247
ColorFilter93=??-*.;???-*.;????-*.;
ColorFilter93Color=16640395
ColorFilter94=*.;
ColorFilter94Color=16640395
ColorFilter95=?-*.;
ColorFilter95Color=16640395
ThemedCursor=0
ColorFilter96=>Directories
ColorFilter96Color=16640395
